:root {
    --floral-white: #FDF9ED;
    --red: #FF312E; 
}

html {
    background: var(--floral-white); 
}

#loading-icon > i > svg {
    color: var(--red); 
    width: 50%; 
    height: 50%;
    margin-top: 90%; 
    margin-left: 35%; 
}