:root {
    --red: #FF312E; 
    --dark-red: #CC0300; 
    --gray: #72705B; 
    --black: #000000;
    --floral-white: #FDF9ED;
}

.top-navbar {
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
    box-sizing: border-box;
    border-bottom: 1px solid var(--gray);  
}

#bars-icon {
    visibility: hidden; 
}

#text-logo {
    padding-left: 10%; 
    margin-right: 17%; 
    font-family: 'Monoton', cursive;
    color: var(--red); 
    font-size: 64px; 
    text-decoration: none;
}

.nav-menu-desktop {
    display: flex; 
    flex-direction: row;
}

.nav-menu-desktop a {
    text-decoration: none; 
    color: var(--black); 
    margin-left: 15px; 
    margin-right: 15px;
    font-size: 26px;  
    text-transform: uppercase;
    border-bottom: 2px solid var(--floral-white);
    font-family: 'Open Sans', sans-serif;
}

.nav-menu-desktop a:hover {
    color: var(--dark-red);
    border-bottom: 2px solid var(--dark-red); 
}

.navbar-icons {
    display: flex; 
    flex-direction: row;
    column-gap: 20px; 
    font-size: 26px;
    margin-left: auto; 
    margin-right: 10%; 
}

.navbar-icons svg:hover {
    color: var(--dark-red);
    cursor: pointer; 
}

@media (max-width: 1390px) {
    #text-logo {
        margin-right: 12%; 
    }
}

@media (max-width: 1130px) {
    #text-logo {
        margin-right: 7%;
    }
}

@media (max-width: 1000px) {
    #text-logo {
        margin-right: 4%;
    }
}

@media (max-width: 950px) {
    .top-navbar {
        justify-content: center;
    }

    span#text-logo {
        padding-left: 0px; 
        margin-right: 30%; 
    }

    a#text-logo {
        font-size: 48px;
    }

    .nav-menu-desktop a{
        display: none;
    }

    div.navbar-icons {
        margin-left: 0px; 
        margin-top: 8px;
    }

    #bars-icon {
        visibility: visible; 
    }

    .top-navbar > #nav-button {
        margin-right: auto; 
        margin-left: 38px; 
    }
}

@media(max-width: 640px) {
    span#text-logo {
        margin-right: 25%; 
    }
}

@media(max-width: 490px) {
    span#text-logo {
        margin-right: 20%; 
    }
}
@media(max-width: 400px) {
    span#text-logo {
        margin-right: 15%; 
    }
}

@media(max-width: 350px) {
    span#text-logo {
        margin-right: 10%; 
    }
}