:root {
    --black: #000000;
    --grey: #72705B; 
    --floral-white: #FDF9ED;
    --light-grey: #e6e6e6; 
}

.menu-item {
    display: flex;
    flex-direction: row;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal; 
    border-top: 1px solid var(--mid-grey); 
    padding-bottom: 10px; 
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
}

.menu-item.no-border { 
    border-top: none; 
}

.slide-media {
    height: 40px; 
    width: 40px; 
    border-radius: 50%;
}

.icon {
    margin-right: 6px; 
}

.slide-link {
    padding-top: 10px; 
    text-decoration: none; 
    color: var(--black); 
    margin-left: 10px; 
    font-size: 0.9rem;  
    text-shadow: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.slide-link span {
    padding-left: 10px;  
}

#open-icon {
    margin-left: auto;
    margin-top: 5px; 
    border: none; 
    color: var(--black); 
    background-color: var(--floral-white);
}

#close-icon {
    margin-top: 5px; 
    border: none; 
    color: var(--black); 
    background-color: var(--mid-grey);
}

.gray-background {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--light-grey);
    height: 60px; 
}