:root {
    --light-grey: #DDDDDD; 
    --off-floral-white: #fdfaf2;
    --floral-white: #FDF9ED;
    --black: #000000; 
}

#sub-flyout-menu {
    width: 80vw;
    height: 60vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s cubic-bezier(0.25, 0.1, 0.25, 1.0);
    overflow: scroll;
    z-index: 1000;
    background-color: var(--floral-white);
    display: flex; 
    flex-direction: row;
    box-shadow: 3px 0px 0rem rgba(0, 0, 0, .1);
}

#sub-flyout-nav {
    width: 100%; 
}

#sub-flyout-menu.sub-hide {
    transform: translate3d(-82vw, 0, 0);
}

#sub-flyout-menu.sub-show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
}